body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#000;
padding:20px;
}

h1{
margin:0;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#ff3c78;
}

section{
max-width:900px;
margin:auto;
padding:60px 20px;
}

.album{
background:#1e1e1e;
padding:20px;
border-radius:10px;
margin-top:30px;
}

.cancion{
background:#2a2a2a;
padding:15px;
border-radius:8px;
margin-top:15px;
}

.show{
background:#1e1e1e;
padding:15px;
border-radius:8px;
margin-top:15px;
}

button{
margin-top:20px;
padding:10px 15px;
border:none;
background:#ff3c78;
color:white;
cursor:pointer;
border-radius:6px;
}

button:hover{
background:#ff1f60;
}